<!doctype html>
<head>
<title>Lights</title>
<link rel="stylesheet" href="/static/lights.css" />
<script type="text/javascript" src='static/jscolor/jscolor.js'></script>
<script type="text/javascript">
function updateColor(name,button) 
{
    var cb = document.getElementById(name+"_check");
    if (!cb || !cb.checked) {
        return;
    }
    var in1=document.getElementById(name+"_color");
    if (button.valueElement && button.valueElement.id == name+"_color2") {
        in1.color.fromString(button.toString());
    } else {
        var in2=document.getElementById(name+"_color2");
        in2.color.fromString(in1.value);
    }
    if (button == cb) {
        hidden_submit(button.form, null);
    }
}

function hidden_submit(form,control)
{
    if (control && control.color) {
        control.color.hidePicker();
    }
    var action = form.action;
    if (action.length == 0) {
        action = window.location.href;
    }
    var inputs = form.getElementsByTagName("INPUT");
    var conjunct="?";
    for (var i=0; i < inputs.length; ++i) {
        var input = inputs.item(i);
        if (input.name) {
            action = action + conjunct;
            conjunct='&';
            action = action+input.name + "=" + input.value;
        }
    }
    xmlhttp = new XMLHttpRequest();
    xmlhttp.open(form.method, action, false);
    xmlhttp.send();
    return false;
}

function setAllLights(color,form)
{
    var inputs = form.getElementsByTagName("INPUT");
    for (var i=0; i < inputs.length; ++i) {
        var input = inputs.item(i);
        if (input.color) {
            input.color.fromString(color);
        }
    }
    hidden_submit(form, null);
}

</script>
</head>
<body bgcolor=black text='gray' font='HelveticaNeue'>
<form onsubmit='hidden_submit(this,null)' method='PUT'>
<table>
{% for node in nodes -%}
<tr><td>{{ node.name }}</td>
    <td><input class="color {onImmediateChange:'updateColor(\'{{node.name}}\', this);'}" id="{{ node.name }}_color" name="{{ node.name }}_color" value="{{ node.colorvalue }}" onChange='hidden_submit(this.form,this);'></td>
    <td><input type='checkbox' id="{{ node.name }}_check" checked onchange="updateColor('{{node.name}}',this);"></td>
    <td><input class="color { onImmediateChange:'updateColor(\'{{node.name}}\',this);'}" id="{{ node.name }}_color2" name="{{ node.name }}_color2" value="{{ node.colorvalue2 }}" onChange='hidden_submit(this.form,this);'></td>
    <td>{{ node.string_address }}</td></tr>
{% endfor -%}
    <tr><td colspan=2><input type="button" value="All Off" onclick="setAllLights('000000',this.form);"/></td>
    <td>&nbsp;</td>
    <td colspan=2><input type="button" value="All On" onclick="setAllLights('FEE8F0',this.form);"/></td></tr>
</table>
</form>
</body>

