<HTML>
<HEAD>
<SCRIPT type='text/javascript' src='static/jscolor/jscolor.js'/>
<SCRIPT type='text/javascript' src='static/sequence.js'/>
<LINK rel='stylesheet' type='text/css' href='static/lights.css'/>
<TITLE>Define a sequence for {{ node.name }}</TITLE>
</HEAD>
<BODY>
<FORM method="POST">
<TABLE id='sequence' class="sequence">
    <TR><TH>Time</TH><TH colspan="3">Color</TH></TR>
    <TR>
        <TD><INPUT name="sequence_time" type="text" value="0"/></TD>
        <TD><INPUT name="sequence_color" class="color"/></TD>
        <TD><INPUT type="button" onclick="insert_row(this)" value="+"/></TD>
        <TD><INPUT type="button" onclick="remove_row(this)" value="-"/></TD>
    </TR>
    <TR><TD colspan="2"><INPUT name="submit_sequence" type="submit" value="Submit"/></TD></TR>
</TABLE>
</FORM>
